.pers{
    color: rgb(94, 16, 240);
    background: rgb(247, 137, 137);
    /* border: red solid 2px; */
    border-radius: 2px solid red;
    /* padding: 10%; */
    /* margin: 10%; */
    margin-left: 20px;
    ti

}