*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: aliceblue;
}


p{
    background: rgb(224, 179, 179);
    padding: 5px;
    margin-top: 10px;
    animation-name: changecolors;
    
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; 
    /* transition-property: al; */
    text-overflow: auto;
    

}


/* ************************************************************* */
@keyframes changecolors{
    0%{ background-color: red; border-radius: 5%;}
    10%{ background-color: rgb(90, 219, 51); border-radius: 10%;}
    20%{ background-color: rgb(217, 255, 0); border-radius: 20%;}
    30%{ background-color: rgb(9, 255, 0); border-radius: 30%;}
    40%{ background-color: rgb(26, 132, 194); border-radius: 40%;}
    50%{ background-color: rgb(40, 30, 182); border-radius: 50%;}
    60%{ background-color: rgb(255, 0, 200); border-radius: 60%;}
    70%{ background-color: rgba(27, 99, 33, 0.11); border-radius: 70%;}
    80%{ background-color: rgb(226, 205, 205); border-radius: 80%;}
    90%{ background-color: rgb(18, 146, 67); border-radius: 90%;}
    100%{ background-color: rgb(162, 0, 255); border-radius: 100%;}
}

/* *********************************************** */
@keyframes changecolor{
    0%{
        font-size: 40px;
        color: coral;
    }
}
#h-3{
    background: rgb(221 255 221);
    height: 50px;
    text-align: center;
    font-size: large;
    padding-top: 15px;
    animation-name: changecolors;
    
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; 
    
}

h3{
    animation-name: changecolor;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; 
    
    
}