

#check{
    display: none;
}
.main2{ 
    overflow: visible;
    height: 71vh;
    position:absolute;
    right: 5vw;
    background-color: white;
    top: 10vh;
width:24vw;
border-radius: 13px 13px 0px 0px;
border: 2px #0000001c;
border-radius: 12px;
border-style: solid;
display:none;
transition: all 0.7s;

}

#check:checked ~ .main2{
    /* right: 5vw; */
    transition: all 7s;
    display: block;
    top: 13vh;
    /* margin-top: 25px; */
}
.div1{
    height: 17.3vh;
background: #dee1e6;
width: 24vw;
display: flex;
flex-direction: column;
align-items: center;

border-radius: 10px 10px 0px 0px;
}
.div1h3{font-weight: bold;
font-size: 1.2rem;
font-family: system-ui;
position: absolute;
top: 38px;
}
.div1img{
    margin-left: 260px;
    position: absolute;
    top: 15%;
}
.profile{position: absolute;}
.profileimg{    height: 11vh;
    margin-left: 9vw;
    /* overflow: visible; */
    margin-top: 11vh;}
    .div2{
        background: white;
        height: 37.3vh;
        width: 24vw;
        
    }
    
    .div2h3{    margin-top: 45px;
        position: absolute;
        font-size: 18px;
        font-weight: normal;
        margin-left: 98px;}
        .div2p{position: absolute;
            margin: 70px 2px 3px 122px;
            font-size: 12px;}
            .div2img1{    position: absolute;
                margin: 86px 0px 0px 94px;
height: 6.5vh;
}
.div2img2{    position: absolute;

    margin: 84px 0px 0px 132px;
height: 6.5vh;}
.div2img3{    margin: 84px 0px 0px 172px;
position: absolute;
height: 6.5vh;}
.div2innerdiv {
    background: #f1f7fe;
width: 20vw;
position: absolute;
margin-top: 20vh;
height: 15vh;
margin-left: 2vw;

border: 1px solid #00000033;
border-radius: 6px;
}
.innerdivimg{
    position: absolute;
height: 4.5vh;
width: 5vh;
margin-left: 4px;
margin-top: 6px;
}
.innerdivp{position: absolute;
font-size: 17px;
margin-left: 43px;
margin-top: 9px;}
.innerbtn{    position: absolute;
margin: 42px 14px;
height: 6vh;
width: 18vw;
background: #1a77f0f2;
outline: none;
border: none;
border-radius: 5px;
color: white;
letter-spacing: -0.5px;}
.div3{
    height: 15.3vh;
background: white;
width: 24vw;
margin-top: -1px;
border-top: 1px solid #00000038;
}
.div3h5{    margin: 12px 0px 0px 13px;
color: #00000057;
font-weight: normal;}
.div3img1{position: absolute;
margin: -27px 0px -2px 274px;
height: 4.9vh;}
.guest{
display: block;
position: absolute;
margin: 12px 54px}
.div3profile{    position: absolute;
    margin-top: 10px;
    margin-left: 17px;
}
.add{position: absolute;
margin: 40px 0px 0px 54px;}
.addimg{  position: absolute;
    margin-left: 13px;
    height: 4.5vh;
    margin-top: 34px;}