:root{
    --primary-color:teal;
    --btn-color: blueviolet;
    --text-color: white;
}
#fun{
    background: rgb(17, 192, 11);
    height: 200px;
    /* width: 70%; */
    width: calc(100% - 300px);

}
a{
    padding: 10px 30px;
    margin: 20px;
    background-color: rgb(48, 9, 9);
    color: var(--btn-color);
    text-decoration: none;
}